@using BlogProject.Models

@{
    ViewBag.Title = "Home Page";
}
<div class="main row">
    <div class="side-menu jumbotron col-md-4">
        <div class="tags-menu ">
            <strong>Popular Tags</strong>
            <ol>
                <li>New</li>
                <li>.NET</li>
                <li>something else</li>
                <li>something else</li>
                <li>something else</li>
                <li>something else</li>
                <li>something else</li>
                <li>something else</li>
                <li>something else</li>
                <li>something else</li>
            </ol>

            <a href="#" class="btn btn-info">Show All</a>
        </div>
    </div>
    <section > 
        @model List<Post>
            @foreach(var post in Model)
            { 
        <article class="jumbotron post row col-md-8">
            <h2>@post.Title</h2>
            <div class="about">Posted on <i>@post.Date</i> by <i>@post.Author</i>
            </div>
            <div class="body">@post.Body</div>
        </article>
            }
        <@*article class="jumbotron post row col-md-8">
            <h2>Post 2</h2>
            <div class="about">
                Posted on <i>24/8/2016</i> by <i>Georgi Dyulgerov (Go6koy)</i>
            </div>
            <div class="body">ASP.NET is a free web framework yeah yeah. Pff...</div>
        </article>

        <article class="jumbotron post row col-md-8">
            <h2>Post 3</h2>
            <div class="about">
                Posted on <i>24/8/2016</i> by <i>Georgi Dyulgerov (Go6koy)</i>
            </div>
            <div class="body">ASP.NET is a free web framework yeah yeah. Pff...</div>
        </article>*@

    </section>
</div>