body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.side-menu {
    margin-top: 15px;
    height: 100%;
}
article {
    margin-top: 15px;
    float: right !important;
    overflow-wrap: break-word;
    
}

td {
    max-width: 200px;
    overflow-wrap: break-word;
}

#post-details {
    background: whitesmoke;
    border: 2px solid gray;
    padding: 20px;
    width: 800px;
    resize: both;
    overflow: auto;
    overflow-wrap: break-word;
    border-radius: 8px;
    margin: 5px 0px 5px 0px ;
   
}

#post-delete {
    border: 2px solid red;
    padding: 20px;
    width: 800px;
    resize: both;
    overflow: auto;
    overflow-wrap: break-word;
    border-radius: 8px;
   
}

.text-area-create {
    max-width: 800px;
    height: 400px;
}

.alert {
    margin-top: 10px;
}
